body {
  margin-top: 200px;
  padding-top: 10px;
  padding-bottom: 40px;
  background: url(../img/bg-login-blur.jpg) no-repeat;
  background-size:cover;
  padding:20px
}

/*support chrome*/
.search:-webkit-input-placeholder{
	color:whitesmoke;
}
 
/*support mozilla*/
.search:-moz-input-placeholder{
	color: whitesmoke;
}
 
/*support internet explorer*/
.search:-ms-input-placeholder{
	color: whitesmoke;
}

.form-signin {
  text-align: center;
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: black;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.search {
  padding:8px 15px;
  width: 500px;
  background:rgba(50, 50, 50, 0.5);
  border:0px solid #dbdbdb;
}
.button {
  position:relative;
  padding:6px 15px;
  left:-8px;
  border:4px solid #53bd84;
  background-color:#53bd84;
  color:black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: orange
}