body {
  font-family: Open Sans;
  margin-top: 200px;
  padding-top: 10px;
  padding-bottom: 40px;
  background: url(../../../assets/img/bg-img/bg-cari.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding:20px
}
 
/*support chrome*/
.search:-webkit-input-placeholder{
	color:white;
}
 
/*support mozilla*/
.search::-moz-input-placeholder{
	color: white;
}
 
/*support internet explorer*/
.search:-ms-input-placeholder{
	color: white;
}
.search {
  position: relative;
  height: auto;
  width : auto;
}

.form-signin {
  text-align: center;
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: black;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.search {
  padding:8px 15px;
  width: 500px;
  background:rgba(50, 50, 50, 0.5);
  border:0px solid #dbdbdb;
}
.btn {
  position:relative;
  padding:6px 15px;
  left:-105px;
  border:4px solid wh;
  background-color:#008EFE;
  color:black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::placeholder{
  color: white;
}
#cari{
  float: left;
}
button{
  float: right;
}
input{
  color: white;
}
@media screen and (max-width: 600px) {
  .form-signin, input[type=text] {
      width: 100%;
      margin-top: 0;
  }
}
.container {
  margin: auto;
}